

:where(.css-dev-only-do-not-override-1fumvat).ant-menu-dark .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover, :where(.css-dev-only-do-not-override-1fumvat).ant-menu-dark>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected):hover, :where(.css-dev-only-do-not-override-1fumvat).ant-menu-dark .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) >.ant-menu-submenu-title:hover, :where(.css-dev-only-do-not-override-1fumvat).ant-menu-dark>.ant-menu .ant-menu-item:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) >.ant-menu-submenu-title:hover {
    --tw-text-opacity: 1 !important;
    color: rgb(96 165 250 / var(--tw-text-opacity)) !important;
}

:where(.css-dev-only-do-not-override-1fumvat).ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-1fumvat).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-1fumvat).ant-menu-dark.ant-menu-horizontal >.ant-menu-submenu-selected, :where(.css-dev-only-do-not-override-1fumvat).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected {
    --tw-text-opacity: 1 !important;
    color: rgb(96 165 250 / var(--tw-text-opacity)) !important;
    background-color: transparent !important;
}

